<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.hospitalserver.mapper.HospitalDoctorMapper">
    <!--查询医生列表-->
    <select id="getDoctorPageList"
            parameterType="com.hospital.hospitalserver.domain.dto.request.HospitalGetDoctorPageReqDto"
            resultType="com.hospital.hospitalserver.domain.dto.response.HospitalGetDoctorPageRespDto">
        SELECT DISTINCT
        hd.id AS doctorId,
        hd.name AS name
        <!--            hd.job_title AS jobTitle,-->
        <!--            hd.phone AS phone,-->
        <!--            hd.status AS status,-->
        <!--            hc.room_number AS roomNumber,-->
        <!--            hc.location AS roomLocation-->
        FROM hospital.h_doctor_tb hd
        LEFT JOIN hospital.h_clinic_room_doctor_tb hcd ON hd.id = hcd.doctor_id
        LEFT JOIN hospital.h_clinic_room_tb hc ON hcd.clinic_room_id = hc.id
        LEFT JOIN hospital.h_department_tb hdpt ON hc.department_id = hdpt.id
        <where>
            <if test="departmentId != null">
                AND hdpt.id = #{departmentId}
            </if>
            <if test="clinicRoomId != null">
                AND hc.id = #{clinicRoomId}
            </if>
            AND hd.status = 0 -- 只查询在职医生
            AND hc.status = 1 -- 只查询正常使用的诊室
        </where>
        ORDER BY hd.name
    </select>

    <!--查询医生完整分页列表-->
    <select id="getDoctorFullPageList"
            parameterType="com.hospital.hospitalserver.domain.dto.request.HospitalGetDoctorFullPageReqDto"
            resultType="com.hospital.hospitalserver.domain.dto.response.HospitalGetDoctorFullPageRespDto">
        SELECT
        hd.id,
        hd.work_id AS workId,
        hd.name,
        hpt.profashion_title AS profashionTitle,
        hdpt.name AS departmentName,
        hd.major_direct AS majorDirect,
        hd.phone,
        hd.enter_date AS enterDate,
        hd.status
        FROM hospital.h_doctor_tb hd
        LEFT JOIN hospital.h_clinic_room_doctor_tb hcd ON hd.id = hcd.doctor_id
        LEFT JOIN hospital.h_clinic_room_tb hc ON hcd.clinic_room_id = hc.id
        LEFT JOIN hospital.h_department_tb hdpt ON hdpt.id = hc.department_id
        LEFT JOIN hospital.h_profashion_title_tb hpt ON hpt.id = hd.pt_id
        <where>
            <if test="workId != null and workId != ''">
                AND hd.work_id LIKE CONCAT('%', #{workId}, '%')
            </if>
            <if test="name != null and name != ''">
                AND hd.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="departmentName != null and departmentName != ''">
                AND hdpt.name LIKE CONCAT('%', #{departmentName}, '%')
            </if>
            <if test="status != null">
                AND hd.status = #{status}
            </if>
            <if test="ptId != null">
                AND hd.pt_id = #{ptId}
            </if>
        </where>
        ORDER BY hd.id DESC
        LIMIT #{start}, #{size}
    </select>

    <!--查询医生完整分页列表总数-->
    <select id="getDoctorFullPageListCount"
            parameterType="com.hospital.hospitalserver.domain.dto.request.HospitalGetDoctorFullPageReqDto"
            resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM hospital.h_doctor_tb hd
        LEFT JOIN hospital.h_clinic_room_doctor_tb hcd ON hd.id = hcd.doctor_id
        LEFT JOIN hospital.h_clinic_room_tb hc ON hcd.clinic_room_id = hc.id
        LEFT JOIN hospital.h_department_tb hdpt ON hdpt.id = hc.department_id
        LEFT JOIN hospital.h_profashion_title_tb hpt ON hpt.id = hd.pt_id
        <where>
            <if test="workId != null and workId != ''">
                AND hd.work_id LIKE CONCAT('%', #{workId}, '%')
            </if>
            <if test="name != null and name != ''">
                AND hd.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="departmentName != null and departmentName != ''">
                AND hdpt.name LIKE CONCAT('%', #{departmentName}, '%')
            </if>
            <if test="status != null">
                AND hd.status = #{status}
            </if>
            <if test="ptId != null">
                AND hd.pt_id = #{ptId}
            </if>
        </where>
    </select>

    <!--查询医生详情byId-->
    <select id="getDoctorDetail"
            parameterType="com.hospital.hospitalserver.domain.dto.request.HospitalGetDoctorDetailReqDto"
            resultType="com.hospital.hospitalserver.domain.dto.response.HospitalGetDoctorFullPageRespDto">
        SELECT hd.id,
               hd.work_id           AS workId,
               hd.name,
               hpt.profashion_title AS profashionTitle,
               hdpt.name            AS departmentName,
               hd.major_direct      AS majorDirect,
               hd.phone,
               hd.enter_date        AS enterDate,
               hd.status,
               hd.gender            AS gender,
               hd.age               AS age,
               hd.description       AS description
        FROM hospital.h_doctor_tb hd
                 LEFT JOIN hospital.h_profashion_title_tb hpt ON hpt.id = hd.pt_id
                 LEFT JOIN hospital.h_clinic_room_doctor_tb hcd ON hd.id = hcd.doctor_id
                 LEFT JOIN hospital.h_clinic_room_tb hc ON hcd.clinic_room_id = hc.id
                 LEFT JOIN hospital.h_department_tb hdpt ON hdpt.id = hc.department_id
        WHERE hd.id = #{id} LIMIT 1
    </select>

    <!--修改医生信息-->
    <update id="updateDoctor" parameterType="com.hospital.hospitalserver.domain.dto.request.HospitalUpdateDoctorReqDto">
        UPDATE hospital.h_doctor_tb
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="workId != null and workId != ''">
                work_id = #{workId},
            </if>
            <if test="gender != null and gender != ''">
                gender = #{gender},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="ptId != null">
                pt_id = #{ptId},
            </if>
            <if test="majorDirect != null and majorDirect != ''">
                major_direct = #{majorDirect},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="enterDate != null">
                enter_date = #{enterDate},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!--添加医生-->
    <insert id="createDoctor" parameterType="com.hospital.hospitalserver.domain.dto.request.HospitalCreateDoctorReqDto"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO hospital.h_doctor_tb (name,
                                          work_id,
                                          gender,
                                          age,
                                          pt_id,
                                          major_direct,
                                          phone,
                                          enter_date,
                                          status,
                                          description)
        VALUES (#{name},
                #{workId},
                #{gender},
                #{age},
                #{ptId},
                #{majorDirect},
                #{phone},
                #{enterDate},
                #{status},
                #{description})
    </insert>

    <!--删除医生-->
    <delete id="deleteDoctorByIds">
        DELETE FROM hospital.h_doctor_tb
        <where>
            <if test="ids != null">
                id IN
                <foreach collection="ids" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </delete>

    <!--查询用户信息byUsername-->
    <select id="getDoctorDetailByUsername" resultType="com.hospital.hospitalserver.domain.dto.response.GetDoctorDetailByUsername">
        SELECT hd.id,
               hd.work_id           AS workId,
               hd.name,
               hpt.profashion_title AS profashionTitle,
               hdpt.name            AS departmentName,
               hd.major_direct      AS majorDirect,
               hd.phone,
               hd.enter_date        AS enterDate,
               hd.status,
               hd.gender            AS gender,
               hd.age               AS age,
               hd.description       AS description
        FROM hospital.h_doctor_tb hd
                 LEFT JOIN hospital.h_profashion_title_tb hpt ON hpt.id = hd.pt_id
                 LEFT JOIN hospital.h_clinic_room_doctor_tb hcd ON hd.id = hcd.doctor_id
                 LEFT JOIN hospital.h_clinic_room_tb hc ON hcd.clinic_room_id = hc.id
                 LEFT JOIN hospital.h_department_tb hdpt ON hdpt.id = hc.department_id
                 LEFT JOIN hospital.h_user_tb u ON u.id = hd.id
                 LEFT JOIN hospital.h_role_tb r ON u.role_id = r.id
        WHERE u.username = #{username}
            LIMIT 1
    </select>
</mapper>