<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.hospitalserver.mapper.HospitalPatientMapper">

    <insert id="createPatient" parameterType="com.hospital.hospitalserver.domain.entity.HospitalPatient">
        insert into hospital.h_patient_tb(name,gender,id_card,birth_date,phone,address,remark,patient_id)
        values(#{name},#{gender},#{idCard},#{birthDate},#{phone},#{address},#{remark},#{patientId})
    </insert>

    <select id="getPatientPage" parameterType="com.hospital.hospitalserver.domain.dto.request.HospitalGetPatientReqDto" resultType="com.hospital.hospitalserver.domain.entity.HospitalPatient">
        select
            id,
            name,
            gender,
            id_card AS idCard,
            birth_date AS birthDate,
            phone,
            address,
            remark,
            patient_id AS patientId
        from hospital.h_patient_tb
            <where>
                <if test="name != null">
                    and name like concat('%',#{name},'%')
                </if>
                <if test="idCard != null">
                    and id_card = #{idCard}
                </if>
                <if test="phone != null">
                    and phone = #{phone}
                </if>
            </where>
        limit #{start},#{size}
    </select>

    <select id="getPatientCount" parameterType="com.hospital.hospitalserver.domain.dto.request.HospitalGetPatientReqDto" resultType="java.lang.Integer">
        select count(1) from hospital.h_patient_tb
            <where>
                <if test="name != null">
                    and name like concat('%',#{name},'%')
                </if>
                <if test="idCard != null">
                    and id_card = #{idCard}
                </if>
                <if test="phone != null">
                    and phone = #{phone}
                </if>
            </where>
    </select>

    <select id="getPatientDetail" parameterType="com.hospital.hospitalserver.domain.dto.request.HospitalGetPatientDetailReqDto" resultType="com.hospital.hospitalserver.domain.dto.response.HospitalGetPatientPageRespDto">
        select
            id,
            name,
            gender,
            id_card AS idCard,
            birth_date AS birthDate,
            phone,
            address,
            remark,
            patient_id AS patientId
        from hospital.h_patient_tb
        where id = #{id}
        limit 1
    </select>

    <update id="updatePatient" parameterType="com.hospital.hospitalserver.domain.dto.request.HospitalUpdatePatientReqDto">
        update hospital.h_patient_tb
        <set>
            <if test="patientId != null">patient_id = #{patientId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="idCard != null">id_card = #{idCard},</if>
            <if test="birthDate != null">birth_date = #{birthDate},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="address != null">address = #{address},</if>
            <if test="remark != null">remark = #{remark},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deletePatientByIds" parameterType="java.util.List">
        delete from hospital.h_patient_tb
        where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>